# fly.toml app configuration file generated for whop-ai-v3 on 2026-01-04T23:29:24Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'whop-ai-v3'
primary_region = 'cdg'

[build]

[deploy]

[http_service]
  internal_port = 5001
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
